@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: var(--color-blanco);
}
:root{  
    --color-negro: #121212;
    --color-negro-claro: #1B1B1B;
    --color-blanco: #f6f6f6;
    --color-rosa: #ff66c4;
    --color-carmesi: #d90037;
    --color-gris:#303030;
    --color-footer-gris: #6e6e6e;
}
body{
    background-color: var(--color-negro);
}
.header-bar{ /* ======HEADER========*/
    position: fixed;
    top: 10px; left: 2%; width: 95%;     

    background: rgba(17, 17, 17, 0.89); 
    border: 2px solid rgba(78, 77, 77, 0.35);
    border-radius: 60px;
    padding: 0px 20px;
    z-index: 1000;  
}

.header-bar nav{
    display: none;
    background-color: var(--color-negro);
}
.header-bar nav.show{                               
    display: block;                                 /* Mostrar el menú */
    position: fixed; 
    inset: 0;                                       /*tapa todo sin errores */
    background-color: var(--color-negro-claro);
}
.header-bar li{
    text-align: center;
    list-style: none;
    margin:10px 0px; padding: 20px;   
    border-bottom: solid  5px var(--color-negro);
    background-color: var(--color-gris); 
} 
.header-bar ul{
    position: absolute;
    top: 120px; left: 50%;
    transform: translateX(-50%);
    width: 83%;
}
.header-bar a {
    text-decoration: none;
    color: var(--color-blanco);
    font-size:20px; font-weight: bold;
}
.header-bar li:hover {
    background-color: var(--color-negro); 
    cursor: pointer;
    border-bottom: solid  5px var(--color-carmesi);
}
#btn-menu, #btn-close{                          /*Botones del menu*/
    position: absolute;
        width: 90%; 
        top: 50%; right: 0;
        margin-right: 40px;
        transform: translateY(-50%);
        max-width: 30px;
        cursor:pointer;
}
#btn-close {                                    /*Para que no aparezca en un inicio*/
    display: none;
}
#nav-menu.show ~ #btn-close { /* Mostrar el botón cerrar solo cuando el menú está visible */
    display: block;
}
img[alt="logoXiringuita"]{
    max-width: 130px;
}
img[alt="AquiSeVive"]{
    position: absolute;
    width: 80%; top: 40%; left: 50%;
    max-width: 900px;                           /*Adapta hata pc*/
    transform: translateX(-50%);
}
.seccion-video {
    height:100vh; 
}
.seccion-video video {
    height: 100%; width: 100%; 
    object-fit: cover;                         /* Hace que el video cubra el contenedor sin distorsionarse */
}
footer {
    background-color: var(--color-negro-claro);
    padding: 50px 0 20px 0;
    text-align: center; /* centro los elementos en línea: logo y redes */
}
.footer-section-one > div:nth-child(1) { /*logofooter*/
    margin-bottom: 10px;
}
.footer-section-one > div:nth-child(1) img {
    width: 200px;
}
.footer-section-one > div:nth-child(2) {  /*Redes sociales*/
    margin-bottom: 10px;
}
.footer-section-one > div:nth-child(2) > img { 
    width: 30px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
}
.footer-section-one > div:nth-child(2) > img:nth-child(1):hover {
    content: url('../assets/Imágenes/simbolos/logoInstagramHover.png'); transform: scale(1.3);
}
.footer-section-one > div:nth-child(2) > img:nth-child(2):hover {
    content: url('../assets/Imágenes/simbolos/logoSpotifyHover.png'); transform: scale(1.3);
}
.footer-section-one > div:nth-child(2) > img:nth-child(3):hover {
    content: url('../assets/Imágenes/simbolos/logoTwitterHover.png'); transform: scale(1.3);
}
.footer-section-one > div:nth-child(2) > img:nth-child(4):hover {
    content: url('../assets/Imágenes/simbolos/logoTikTokHover.png'); transform: scale(1.3);
}

.footer-section-one,
.footer-section-two {
    width: 90%;
    max-width: 300px;
    margin: 50px auto;  
    display: block;
}

.footer-section-two> div {
    text-align: center ;   /* texto alineado a la izquierda */
    padding: 10px 0;
}
/* Titulos */
.footer-section-two h3 {
    color: var(--color-rosa);
    margin-bottom: 10px;
}

/* Copyright centrado */
footer > p:nth-of-type(1),
footer > p:nth-of-type(2) {
    width: 80%;
    margin: 15px auto;      /* margen superior/inferior 0, izquierdo/derecho automático */
    font-size: 0.8rem;
    color: var(--color-footer-gris);
}
footer hr {
    width: 90%;          
    margin: 0 auto;      
    border: 1px solid var(--color-footer-gris); 
    margin-top: 10px;
}
footer pre:last-child{
    margin: 5px;
}
footer span{
    color: var(--color-rosa);

}
footer span:hover{
    color: var(--color-carmesi);
    cursor: pointer; transform: scale(1.1);
}




@media (min-width: 768px){ /* Version TABLET */
    img[alt="logoXiringuita"]{
    width: auto;
    }
    
    

    .footer-section-one,
    .footer-section-two {
        display: inline-block;     /* bloque lateral */
        vertical-align: top;
        width: 39%;                /* ancho de cada bloque */
        margin: 50px 5%;              /* espacio lateral simula space-around */
    }
    .footer-section-one{
        margin: 100px 5%;              /* espacio lateral simula space-around */
    }
    .footer-section-two > div{
        text-align: left;
    } 
}


@media (min-width: 992px){ /* Version PC */
    .footer-section-one,
    .footer-section-two {
        width: 39%;                /* ancho de cada bloque */
        margin: 50px 5%;              /* espacio lateral simula space-around */
    }
    .footer-section-one{
        margin: 100px 5%;              /* espacio lateral simula space-around */
    }
    .footer-section-one{
        margin: 100px 7%;              /* espacio lateral simula space-around */
    }

    .footer-section-one > div:nth-child(1) img {
        width: 300px;
        }
    /* Ocultar botones */
    #btn-menu{
        display: none;
    }
    .header-bar nav{                        /* Podria revisar mejor este apartado del nav en PC*/
        display: inline-block; 
    }
    .header-bar ul{
        position: absolute;
        width: 100%; top: 6%; left:2%;
        transform: none;
        text-align: center;
    }
    .header-bar li{
        display: inline-block;              /*Pone el nav en una fila eliminando en columna*/
        border: none;   
        background: none;
        padding: 20px 30px;
    }
    .header-bar li:hover {
        background-color: rgba(255, 255, 255, 0); 
        border: none;
    } 
    .header-bar a{
        display: inline-block;
        transition: transform 0.3s ease, color 0s ease;
    }
    .header-bar a:hover{
        color: var(--color-carmesi);
        transform: scale(1.2);
    } 
}

